body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 20px;
  text-align: right;
  font-size: 2em;
  border: none;
  background-color: #fff;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 1.5em;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #f0f0f0;
}

#zero {
  grid-column: span 2;
}
